html{

}

label{
	font-size: 16px;
}


h4{																																																																												
	width: 150px;
	display: inline-block;
	text-align: right;
	margin: 4px 5px 4px 5px;
}
#container{
	background-color: #00E5EE;
	height: 100%; /*altura*/
	width: 90%; /*largura*/
	margin: 0px auto 0px auto;
	text-align: center;	
}
#txt_name{
  border-width: 5px;
  width: 90%; /*largura*/	  
}
#txt_codigo{		  
  border-width: 2px;
  width: 20%; /*largura*/
}			  
